{% extends 'base.html' %}

{% block main %}

<div class="header">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p>{{ message }}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h1>{{ current_user.fname }} {{ current_user.lname }}</h1>
    <p>{{ current_user.dob }}</p>
    <p>{{ current_user.qualification }}</p>
</div>

<div style="padding: 3%;">
    <div>
        <h3>{{ sub.name }}</h3>
    </div>
    <br>
    <div class="accordion" id="accordionChap">
        {% for chap in chaps %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ chap.id }}" aria-expanded="true" aria-controls="collapse{{ chap.id }}">
              <h5>{{ chap.title }}</h5>
            </button>
          </h2>
          <div id="collapse{{ chap.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionChap">
            <div class="accordion-body">
              <p>{{ chap.content }}</p>
              <br>
              {% if current_user.admin %}
              <a href="/questions/{{ chap.id }}" class="btn btn-outline-primary"">View Question</a>

             
              <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editChap{{ chap.id }}" >Edit chapter</a>
              <!-- model -->
              <div class="modal fade" id="editChap{{ chap.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit chapter</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/edit_chapter/{{ chap.id }}" method="post" id="editchapForm{{ chap.id }}">
                            <div class="mb-3">
                                <label for="chapName" class="form-label">Title</label>
                                <input type="text" class="form-control" id="chapName" name="title" value="{{ chap.title }}">
                              </div>
                              <div class="mb-3">
                                <label for="chapDesc" class="form-label">Key Points</label>
                                <textarea class="form-control" id="chapDesc" rows="3" name="points">{{ chap.content }}</textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="editchapForm{{ chap.id }}">Submit</button>
                    </div>
                </div>
                </div>
              </div>

              <a href="/delete_chapter/{{ chap.id }}" class="btn btn-danger">Delete</a>
              {% else %}
              <a href="#" class="btn btn-primary">Take Quiz</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>

{% if current_user.admin %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adChap" id="nchap">
Add Chapter
</button>

<!-- Modal -->
<div class="modal fade" id="adChap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add new chapter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/add_chapter/{{ sub.id }}" method="post" id="nchapForm">
                <div class="mb-3">
                    <label for="chapName" class="form-label">Title</label>
                    <input type="text" class="form-control" id="chapName" name="title">
                  </div>
                  <div class="mb-3">
                    <label for="chapDesc" class="form-label">Key Points</label>
                    <textarea class="form-control" id="chapDesc" rows="3" name="points"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="nchapForm">Submit</button>
        </div>
    </div>
    </div>
</div>
{% endif %}
{% endblock %}